<!DOCTYPE html>
<html>
<head>
<title>KikanSystem01</title>
<%= stylesheet_link_tag "//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'http://code.jquery.com/jquery-1.9.1.js' %>
<%= javascript_include_tag 'http://code.jquery.com/ui/1.10.3/jquery-ui.js' %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="conetnt" style="width:980px; margin:0 auto;">  
<%= yield %>
</div>
</body>
</html>
